.section-contacts {
  margin: 0 auto;
  max-width: 1920px;
}


.contacts {
  position: relative;
  display: flex;
}

.section-contacts__title {
  margin-bottom: 15px;
}

.contacts__left {
  padding: 124px 122px 124px 160px;
  max-width: 682px;
  width: calc(522px + (100% - 1600px) / 2);
  height: 100%;
  border: 1px solid #cacaca;
  background: var(--color-white);
  z-index: 1;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__adress {
  display: inline-block;
  margin-bottom: 28px;
  max-width: 256px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contacts__adress span {
  font-size: 16px;
  font-weight: 400;
}

.contacts__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.contacts__input {
  margin-bottom: 22px;
  padding: 10px 97px 10px 24px;
  border: 1px solid #333;
  border-radius: 100px;
  transition: background-color .3s ease-in-out;
}

.contacts__input::placeholder {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: #999;
}

.contacts__btn {
  position: relative;
  margin-bottom: 35px;
  padding: 17px 37px;
  align-self: start;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-amethyst);
  background: transparent;
  border: 2px solid var(--color-amethyst);
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.contacts__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline-color .3s ease-in-out;
}

.contacts__left-list {
  display: flex;
}

.contacts__left-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__left-title {
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.contacts__left-link {
  border: 1px solid transparent;
  border-radius: 100%;
  transition: opacity .3s ease-in-out, outline-color .3s ease-in-out;
}

.contacts__right-map {
  width: calc(1078px + (100% - 1600px) / 2);
}

/* Effects */

.contacts__input:hover {
  background-color: #eaeaea;
}

.contacts__input:focus-visible {
  outline: none;
  background-color: #eaeaea;
}

.contacts__btn:focus-visible {
  outline: none;
}

.contacts__btn:focus-visible::before {
  outline-color: var(--color-heliotrope);
}

.contacts__btn:hover {
  color: var(--color-white);
  border-color: var(--color-amethyst);
  background-color: var(--color-amethyst);
}

.contacts__btn:active {
  color: var(--color-white);
  border-color: #d1a9f0;
  background-color: var(--color-royal-purple);
}

.contacts__left-link:hover {
  opacity: .5;
}

.contacts__left-link:focus-visible {
  outline: none;
  opacity: .5;
}

.contacts__left-link:active svg {
  border-radius: 100%;
  border: 1px solid var(--color-royal-purple);
}