@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"),
    local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.woff2") format("woff2"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),
    local("OpenSans-Bold"), 
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  --descr__max-width: 1080px;
  --accent__color: #9d5cd0;
  --btn__border-radius: 100px;
  --color__white: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: none;
}

.btn {
  border-radius: var(--btn__border-radius);
  background-color: var(--accent__color);
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section-title {
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;

}

/* HEADER */

.header {
  position: relative;
  color: var(--color__white);
}

.header-top,
.header-bottom {
  display: flex;
  align-items: center;
}

.header__bottom {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.header__top {
  padding: 28.5px 0;
  background: #000;
}

.header-bottom__nav {
  margin-right: auto;
}

.header__link {
  margin-right: auto;
}

.header__user-cabinet {
  display: flex;
  align-items: center;
}

.header__bottom {
  padding: 21px 0 49px 0;
  background: rgba(0, 0, 0, 0.4);
}

.header-top__nav {
  margin-right: 276px;
}

.header__list {
  display: flex;
}

.header-top__link {
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
}
.header-top__item:not(:last-child) {
  margin-right: 62px;
}

.header-top__user-link {
  padding-left: 8px;
}


.header-bottom__item {
  position: relative;
}

.header-bottom__item:not(:last-child) {
  margin-right: 96.5px;
}

.header-bottom__form {
  display: flex;
  align-items: center;
}

.header-bottom__btn {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--color__white);
}

.header-bottom__form-btn {
  margin-right: 11px;
}

.header-bottom__input {
  width: 218px;
  padding: 0;
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 25px;
  border: none;
  border-bottom: 1px solid var(--color__white);
  background-color: transparent;
}

.header-bottom__input::placeholder {
  color: var(--color__white);
}

.header__dropdown {
  display: none;
  position: absolute;
  top: 45px;
  padding: 40px 19px 40px 40px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.dropdown-active {
  display: block;
  opacity: 1;
}

.header__dropdown-list {
  width: 240px;
  height: 220px;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.header__dropdown-item {
  width: 220px;
  background: #d88f99;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background: #000;
  border-radius: 3px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background: var(--color__white);
  opacity: 1;

}

.header__dropdown-link {
  display: block;
  padding: 10px 15px;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
}

/* HERO  */

.section-hero {
  position: relative;
}

.hero {
  padding: 138px 0 145px 0;
  color: var(--color__white);
  z-index: 2;
}

.hero__title {
  max-width: 597px;
  margin-bottom: 18px;
  font-size: 72px;
  line-height: 85px;
  font-weight: 700;
}

.hero__descr {
  max-width: 579px;
  margin-bottom: 114px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.hero__btn {
  padding: 22.5px 35px;
  font-weight: 700;
  color: var(--color__white);
}

.section-hero .swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-1 {
  background-image: url(../img/hero/slide-1.jpg);
}

.slide-2 {
  background-image: url(../img/hero/slide-2.jpg);
}

.slide-3 {
  background-image: url(../img/hero/slide-3.jpg);
}

/* ABOUT  */

.section-about {
  padding: 80px 0 70px 0;
}

.section-about__title {
  margin-bottom: 16px;
}

.section-about__descr {
  max-width: var(--descr__max-width);
  font-size: 16px;
  line-height: 2;
}

/* GALLERY  */

.section-gallery {
  background-image: url(../img/gallery/gallery-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery {
  padding: 80px 0 80px 0;
  color: var(--color__white);
}

.gallery__title {
  margin-bottom: 21px;
}

.gallery__content {
  position: relative;
  display: flex;

}

.gallery__left {
  max-width: 400px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.gallery__label {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
}

.section-gallery .choices .choices__inner .choices__list {
  color: var(--color__white);
}

.choices {
  margin-bottom: auto;
}

.choices__placeholder {
  opacity: 1;
}

.choices__inner {
  border: 1px solid var(--color__white);
  border-radius: 6px;
  background: transparent;
  font-size: 16px;
  min-height: 42px;
  z-index: 10;
}

.is-focused .choices__inner {
  border-color: var(--color__white);
}

.is-open .choices__list--dropdown {
  z-index: 1;
}

.is-open .choices__inner {
  border-radius: 6px;
  border-color: var(--color__white);
  z-index: 2;
}

.choices[data-type*=select-one]:after {
  content: url(../img/gallery/select-arrowsvg.svg);
  border: none;
  top: 42%;
  right: 26.5px;
}

.choices[data-type*=select-one].is-open:after {
  margin: 0;
}

.choices__list--dropdown {
  border: 1px solid #999;
  border-radius: 6px;
  color: #999;
  background: transparent;
}

.choices__item--choice:not(:last-child) {
  border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: transparent;
}

.choices__list--dropdown .choices__item--selectable::after {
  display: none;
}

.choices__list.choices__list--dropdown .choices__placeholder {
  display: none; 
}

.gallery__descr {
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
}

.gallery__link {
  color: #c283f3;
}

.gallery__right {
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
}

.gallery__right .swiper-wrapper {
  height: 750px;
}

.gallery-swiper__btns {
  position: absolute;
  bottom: 100%;
  margin-bottom: 30px;
  padding: 0 0 1px 3px;
  display: flex;
  min-width: 133px;
}

.gallery-swiper__btn,
.editions__btn {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #666;
}

.gallery-swiper__pagination {
  width: 36%;
  margin: 0 11px;
  align-self: center;
}

.section-gallery .swiper-slide {
  height: calc((100% - 50px) / 2);
  position: relative;
  cursor: pointer;
  background-color: gray;
}

.gallery-swiper__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

/* CATALOG  */

.catalog {
  position: relative;
  padding-top: 80px;
}

.catalog-content {
  display: flex;
  justify-content: space-between;
}

.catalog__title {
  margin-bottom: 18px;
}

.catalog__nav {
  position: absolute;
  top: 95px;
  left: 222px;
}

.catalog__list {
  display: flex;
}

.catalog__item:not(:last-child) {
  margin-right: 50px;
}

.catalog__btn {
  width: 46px;
  height: 46px;
  cursor: pointer;
}

.catalog__icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-france {
  background-image: url(../img/catalog/france.png);
}

.icon-germany {
  background-image: url(../img/catalog/germany.png);
}

.icon-italy {
  background-image: url(../img/catalog/italy.png);
}

.icon-russia {
  background-image: url(../img/catalog/russia.png);
}

.icon-belgium {
  background-image: url(../img/catalog/belgium.png);
}

.catalog__descr {
  max-width: var(--descr__max-width);
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.catalog-content__left {
  max-width: 750px;
}

.catalog-content__right {
  max-width: 800px;
  width: 100%;
}

.content-left__img {
  width: 100%;
  margin-bottom: 26px;
}

.content-left__title {
  margin-bottom: 6px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.content-left__subtitle {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 12px;
  color: #999;
}

.catalog-content__descr {
  font-size: 16px;
  line-height: 2;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 32px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-bottom {
  border-radius: 0;
}

.ui-widget-content {
  border: none;
}

.ui-state-default {
  border: none;
  background: none;
  color: #333;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #cacaca;
}

.catalog-content__accordion-top:first-child {
  border-top: 1px solid #cacaca;
}

.ui-accordion .ui-state-active {
  background: none;
  color: #7943a4;;
  border-color: #7943a4;
}

.ui-state-active .catalog-content__accordion-btn {
  border-color: #9d5cd0;
  background-color: #d1a9f0;
}

.ui-state-active .catalog-content__accordion-btn svg {
  transform: rotate(180deg);
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-content__list {
  max-width: 800px;
  width: 100%;
}

.catalog-content__item {
  margin-top: -1px;
}

.catalog-content__accordion-header {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.catalog-content__accordion-btn {
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 100%;
  background: #ececec;
}

.catalog-content__accordion-btn svg {
  transition: transform .3s linear;
}

.catalog-content__accordion-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 288px;
}

.catalog-content__accordion-item {
  max-width: 196px;
  font-size: 16px;
  line-height: 2;
}

/* EVENT */

.event {
  padding-top: 68px;
  padding-bottom: 76px;
}

.event__title {
  margin-bottom: 16px;
}

.event__list {
  display: flex;
  flex-wrap: wrap;
}

.event__item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-height: 700px;
  margin-bottom: 50px;
  font-size: 0;
}

.event__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.event__item:nth-child(n+4) {
  display: none;
}

.event-content {
  height: 100%;
  padding: 16px 19px 38px 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  border-top: none;
}

.event-content__info {
  max-width: 211px;
  align-self: flex-end;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.event__bottom {
  text-align: center;
}

.event-content__title {
  margin-bottom: 3px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
}

.event-content__descr {
  margin-bottom: auto;
  max-width: 400px;
  font-size: 16px;
  line-height: 2;
}

.event-content__link {
  border-bottom: 1px solid var(--accent__color);
  align-self: flex-start;
  color: var(--accent__color);
  font-size: 16px;
  line-height: 2;
}

.event__btn {
  padding: 17px 35px;
  background-color: transparent;
  border: 2px solid var(--accent__color);
  color: var(--accent__color);
}

/* EDITIONS */

.section-editions {
  background-image: url(../img/editions/editions-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.editions {
  padding: 80px 0 77px 0;
  color: var(--color__white);
}

.editions__title {
  margin-bottom: 30px;
}

.editions__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.editions__left {
  margin-top: -15px;
  max-width: 277px;
  display: flex;
  flex-direction: column;
}

.editions__right {
  max-width: 1150px;
  width: 100%;
  overflow: hidden;
}

.editions__btns {
  position: absolute;
  bottom: 105.5%;
  display: flex;
  align-items: center;
  min-width: 130px;
}

.editions__btn--prev,
.edtitons__btn--next {
  position: static;
}

.editions__btn--prev {
  margin-right: 25px;
}

.swiper-pagination-fraction {
  width: 36%;
}

.editions__right .swiper-slide {
  max-width: 350px;
  cursor: pointer;
}

.editions__subtitle {
  font-size: 16px;
  line-height: 2;
  font-weight: 700;
}

.editions__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.editions__list-item {
  position: relative;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.editions__checkbox {
  display: none;
}

.editions__label {
  padding-left: 24px;
  transition: color .2s ease-in-out;
}

.editions__checkbox+span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color__white);
  text-align: center;
  transition: border-color .2s ease-in-out;
  transform: translateY(10px);
}

.editions__checkbox+span::before {
  position: absolute;
  content: "";
  top: 30%;
  right: 0;
  bottom: 0;
  left: 30%;
  width: 4px;
  height: 4px;
  background: var(--color__white);
  border-radius: 50%;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.editions__checkbox:checked+span+.editions__label {
  color: #c283f3;
}

.editions__checkbox:checked+span {
  border-color: #c283f3;
}

.editions__checkbox:checked+span::before {
  opacity: 1;
  background: #c283f3;
}

.editions__subtitle-price {
  margin-bottom: 7px;
}

.editions__price-input {
  max-width: 73px;
  margin-right: 10px;
  padding: 4px 0 2px 13px;
  border: none;
  background: rgba(157, 92, 208, 0.5);
  color: var(--color__white);
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.editions__price {
  padding: 0 10px;
  border:1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;
}

.editions__price label:first-child {
  margin-right: 2px;
}

.editions-card {
  display: flex;
  flex-direction: column;
}

.editions-card__title {
  width: 150px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.editions-card__img {
  margin-bottom: 18px;
}

.editions-card__bottom {
  position: relative;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.editions-card__cost {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
}

.editions-card__btn {
  padding: 8px 20px;
  align-self: flex-start;
  background: none;
  border: 1px solid var(--accent__color);
  color: var(--color__white);
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

/* PROJECTS  */

.projects {
  padding-top: 80px;
}

.projects__title {
  margin-bottom: 16px;
}

.projects__descr {
  max-width: var(--descr__max-width);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 2;
}

.projects__subtitle {
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.projects__link {
  color: var(--accent__color);
}

.projects__tooltip {
  position: relative;
}

.projects__tooltip-marker {
  cursor: pointer;
}

.projects__tooltip-popup {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  max-width: 264px;
  width: max-content;
  padding: 8px 11px 8px 11px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: var(--color__white);
  background: var(--accent__color);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.projects__tooltip-popup::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 0;
	height: 0;
	border-width: 10px 10px 0 10px;
	border-color: var(--accent__color) transparent transparent transparent;
	border-style: solid;
  transform: translate(-60%, -1px);
}

.projects__tooltip-marker:hover + .projects__tooltip-popup {
  opacity: 1;
}

.projects__tooltip svg {
  transform: translateY(4px);
}

.projects__swiper {
  padding: 0 75px;
}

.projects__swiper .swiper-wrapper {
  overflow: hidden;
}

.projects__card {
  width: 450px;
  height: 150px;
  border: 1px solid #cacaca;
}

/* CONTACTS  */

.section-contacts {
  margin: 0 auto;
  max-width: 1920px;
}


.contacts {
  position: relative;
  display: flex;
}

.section-contacts__title {
  margin-bottom: 30px;
}

.contacts__left {
  position: absolute;
  height: 100%;
  padding: 124px 122px 124px 160px;
  border: 1px solid #cacaca;
  background: var(--color__white);
  z-index: 1;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__adress {
  display: inline-block;
  margin-bottom: 27px;
  max-width: 256px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.contacts__adress span {
  font-size: 16px;
  font-weight: 400;
}

.contacts__title {
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__input {
  margin-bottom: 23px;
  padding: 4px 97px 4px 24px;
  border: 1px solid #333;
  border-radius: 100px;
}

.contacts__input::placeholder {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  color: #999;
}

.contacts__btn {
  margin-bottom: 38px;
  padding: 17px 35px;
  align-self: start;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent__color);
  background: transparent;
  border: 2px solid var(--accent__color);
}

.contacts__left-list {
  display: flex;
}

.contacts__left-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__left-title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

/* FOOTER */

.footer {
  background: #000;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 47px;
}

.footer__list {
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}
